

img 
{
    width: 100px;
    height: 100px;
    border-radius: 70%;
}
body 
{
    background-color: #ffe6f2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style-type: none;
}
#ImagemDiscord {
    width: 150px;
    height: 150px;
}
#LinguagensProgramacao 
{
    font-family:'Verdana';
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 5px #a3a3a3;
}
#AreaDeCadastro 
{
    font-family:'Verdana';
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 5px #a3a3a3;
}
#FormularioCadastro {
    font-size: 75%;
}